$mat-blue: (50 : #e1e8f0,
100 : #b5c5d9,
200 : #839ebf,
300 : #5177a5,
400 : #2c5992,
500 : #073c7f,
600 : #063677,
700 : #052e6c,
800 : #042762,
900 : #021a4f,
A100 : #829eff,
A200 : #4f76ff,
A400 : #1c4eff,
A700 : #033bff,
contrast: (50 : #000000,
100 : #000000,
200 : #000000,
300 : #ffffff,
400 : #ffffff,
500 : #ffffff,
600 : #ffffff,
700 : #ffffff,
800 : #ffffff,
900 : #ffffff,
A100 : #000000,
A200 : #ffffff,
A400 : #ffffff,
A700 : #ffffff,
));