$mat-blue-light: (50 : #e1eff6,
100 : #b4d7e8,
200 : #83bcd9,
300 : #51a1ca,
400 : #2b8dbe,
500 : #0679b3,
600 : #0571ac,
700 : #0466a3,
800 : #035c9a,
900 : #02498b,
A100 : #b7d8ff,
A200 : #84bcff,
A400 : #51a0ff,
A700 : #3792ff,
contrast: (50 : #000000,
100 : #000000,
200 : #000000,
300 : #000000,
400 : #ffffff,
500 : #ffffff,
600 : #ffffff,
700 : #ffffff,
800 : #ffffff,
900 : #ffffff,
A100 : #000000,
A200 : #000000,
A400 : #000000,
A700 : #000000,
));